@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	background: #F2F4F6;
	padding: 9vh;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

.content {
	background: white;
	border-radius: 5px;
	height: 70vh;
	padding: 3vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#curve_chart{
	grid-column: 1;
	height: 50vh;
}

.currentinfo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

h2 {
	margin: 0;
	font-size: 15px;
	text-align: right;
	padding-right: 18px;
}

h3 {
	margin: 0;
	grid-column: 2;
	font-size: 12px;
	padding-bottom: 10px;
	color: green;
}

.stock {
	font-size: 14px;
	color: black;
}

.extrainfo {
	grid-column: 2;
	grid-row: 1 / span 2;
	border-left: 2px solid black;
}

ul {
	list-style: none;
	padding: 5vh;
}

li {
	padding: 3vh;
	border-bottom: 1px solid grey;
}

h5 {
	display: inline;
	font-size: 16px;
	padding-left: 40vh;
	font-weight: normal;
}

h6 {
	display: inline;
	font-size: 16px;
	padding-left: 5vh;
	color: green;
}]

